
main {
  height: calc(100vh - 9.75rem);

}

.wrapper {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  width: 100%;
  padding: 2rem 4rem;
}

.title {
  margin-left: .5rem;
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
}

.description {
  max-width: 24rem;
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem 0 1.5rem;
}

.text {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;

  margin-bottom: 3rem;
}

.description-wrapper {
  display: flex;
  flex-direction: column;

}

footer {
  background: var(--foreground-color);
  display: flex;
  align-items: center;
  height: 9.75rem;
}

.git-links {
  display: flex;
  gap: 1rem;
}

.row {
  display: flex;
  text-decoration: none;
}

.git-picture {
  object-fit: cover;  
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.git-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--primary-color);
  width: 48px;
  height: 48px;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.cat-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--primary-color);
  width: 48px;
  height: 48px;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.cat-description {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background-color);
  height: 48px;
  padding: 0 1rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;

  color: var(--text-color);
  font-weight: 700;
  font-size: 1rem;
}