body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
}

main {
  margin: auto;
  width: 100%;
}

.wrapper {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
}

.title {
  margin-left: .5rem;
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 700;
}

.destak {
  object-fit: cover;
  margin-left: 1rem;
}

.description {
  max-width: 24rem;
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem 0 1.5rem;
}


.text {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 400;

  margin-bottom: 3rem;
}

.description-wrapper {
  display: flex;
  flex-direction: column;

}

footer {
  background: var(--foreground-color);
  display: flex;
  align-items: center;
  height: 9.75rem;
}

.git-links {
  display: flex;
  gap: 1rem;
}

.row {
  display: flex;
  text-decoration: none;
}

.gitpicture {
  object-fit: cover;  
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.git-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--primary-color);
  width: 48px;
  height: 48px;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.cat-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--primary-color);
  width: 48px;
  height: 48px;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.cat-description {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background-color);
  height: 48px;
  padding: 0 1rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;

  color: var(--text-color);
  font-weight: 700;
  font-size: 1rem;
}

@media(max-width: 40rem) {
  footer .wrapper {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}

@media(max-width: 64rem) {
  .destak {
    width: 24rem;
    height: auto;
  }
}

@media(max-width: 54rem) {
  .destak {
    width: 20rem;
    height: auto;
  }
}

@media(max-width: 48rem) {
  .destak {
    display: none;
  }

  main .wrapper {
    justify-content: center;
  }
}