:root {
  --primary-color: #f49d37;
  --text-color: #2e2d4d;
  --background-color: #ffffff;
  --foreground-color: #f4f4f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.btn-primary {
  border-radius: 0.25rem;
  color: var(--background-color);
  padding: 1rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;

  background: var(--primary-color);
  background-image: linear-gradient(var(--text-color), var(--text-color));
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;
  transition: background-size 0.5s;
}

.btn-primary:hover {
  background-image: linear-gradient(var(--text-color), var(--text-color));
  background-size: 100% 100%;
  background-position-x: left;
}
