:root {
    --primary-color: #F49D37;
    --text-color: #2E2D4D;
    --background-color: #FFFFFF;
    --foreground-color : #F4F4F8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.btn-primary {
    background-color: var(--primary-color);
    border-radius: 0.25rem;
    color: white;
}

